%h1 Hello there
%p Welcome on the gallery website of ARTIST! Here you will find much of his work. Have a look at his #{link_to "gallery", uploads_path} if you want to see his work!
%a.img{:href => image_path("rails.png")}
  %img{:src => image_path("rails.png"), :alt => "rails"}